header {
  background: purple;
  padding: 35px;
}
footer {
  width: 100%;
  bottom: 0px;
  background-color:#33b5e5;
  color: #fff;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 30px;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#33b5e5;
  padding:18px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  background-color:#33b5e5;
  float:left;
  height: 380px;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
* {
  box-sizing: border-box;
}